language: go
go:
- 1.8.x

sudo: required

services:
- docker

before_install:
- if [ ${TRAVIS_TAG::6} = image- ];
  then
    docker build -f Dockerfile -t coveo/tgf:${TRAVIS_TAG:6} . && docker tag coveo/tgf:${TRAVIS_TAG:6} coveo/tgf;
    docker build -f Dockerfile.Full -t coveo/tgf.full:${TRAVIS_TAG:6} . && docker tag coveo/tgf.full:${TRAVIS_TAG:6} coveo/tgf.full;
    docker build -f Dockerfile.Base -t coveo/tgf.base:${TRAVIS_TAG:6} . && docker tag coveo/tgf.base:${TRAVIS_TAG:6} coveo/tgf.base;
  fi

install:
- if [ ${TRAVIS_TAG::1} = v ];
  then
    go get ./...;
  fi

script:
- if [ ${TRAVIS_TAG::1} = v ];
  then
    make test;
  fi

after_success:
- if [ ${TRAVIS_TAG::1} = v ];
  then
    curl -sL https://git.io/goreleaser | bash;
  fi
- if [ ${TRAVIS_TAG::6} = image- ];
  then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push coveo/tgf:${TRAVIS_TAG:6} && docker push coveo/tgf;
    docker push coveo/tgf.full:${TRAVIS_TAG:6} && docker push coveo/tgf.full;
    docker push coveo/tgf.base:${TRAVIS_TAG:6} && docker push coveo/tgf.base;
  fi

notifications:
  email: false
