language: go

go:
  - 1.13.x

env:
  - GO111MODULE=on CGO_ENABLED=0

sudo: false

before_install:
  - GO111MODULE=off go get github.com/mattn/goveralls

before_script:
  - go test ./...

script:
  - if [ "${TRAVIS_TAG::1}" = "v" ]; then
    git diff;
    curl -sL https://git.io/goreleaser | bash;
    fi

after_success:
  - make coveralls

notifications:
  email: false
