name: PR
on:
  pull_request:
    branches:
      - master
      - main

jobs:
  test:
    permissions:
      id-token: write # required for AWS assume role

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::043612128888:role/nrd-oss-tgf-github-actions-ci

      - name: Run tests
        env:
          AWS_REGION: us-east-1
        run: go test -v ./...

  goreleaser-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - uses: goreleaser/goreleaser-action@7ec5c2b0c6cdda6e8bbb49444bc797dd33d74dd8 # v5
        with:
          distribution: goreleaser
          version: latest
          args: check

  goreleaser-test-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # goreleaser needs the whole history to build the release notes
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - uses: goreleaser/goreleaser-action@7ec5c2b0c6cdda6e8bbb49444bc797dd33d74dd8 # v5
        with:
          distribution: goreleaser
          version: latest
          args: release --snapshot --clean
        env:
          CGO_ENABLED: 0

      - uses: actions/upload-artifact@v3
        with:
          name: test-release
          path: |
            dist/*.zip
            dist/*.txt
          if-no-files-found: error
          retention-days: 5
